<admin-header></admin-header>
<div class="container">
  <div class="row">
    <div class="col">

    </div>

    <div class="col align-self-center Iform"><br>
      <h3 class="header">Password Reset</h3>

      <form [formGroup]="userForm" (ngSubmit)="handleFormSubmit(userForm.value)">


        <input type="password" formControlName="password"
          [ngClass]="{'invalid': formSubmitted && formControls.password.errors}" placeholder="password" />
        
        <span *ngIf="formSubmitted && formControls.password.errors">Password mustbe mini 6 length</span>
        <br />
        <br />
        <input type="password" formControlName="cnfpassword"
          [ngClass]="{'invalid': formSubmitted && formControls.cnfpassword.errors}" placeholder="confirm password" />
       
        <span *ngIf="formSubmitted && formControls.cnfpassword.errors">Password not matched</span>
        <br><br>
        <button type="submit" name="submit" class="btn Ibutton">Login</button>
      </form>
    </div>
    <div class="col"></div>




  </div>
</div>
